[submodule "lib/roboHardware"]
	path = lib/roboHardware
	url = https://github.com/IFRN-robotica-CM/robo_hardware.git
[submodule "lib/TCS34725"]
	path = lib/TCS34725
	url = https://github.com/adafruit/Adafruit_TCS34725.git
[submodule "lib/BusIO"]
	path = lib/BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/VL53L0X"]
	path = lib/VL53L0X
	url = https://github.com/pololu/vl53l0x-arduino.git
